body {
    font-family: Arial, sans-serif;
    background-color: #c8a6f7; /* Blue background */
    color: #090707; /* White text */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #eeecf0; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header h1 {
    text-align: center;
    color: #481e6b; /* Blue text */
}

.form-container {
    padding: 20px;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #481e6b; /* Blue border */
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    color: #0b0505; /* White text */
    background-color: #481e6b; /* Blue background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: #dc3545; /* Red error message */
    margin-top: 10px;
}